


#card-img-top{
    display: flex;
    align-items: center;
    width: fit-content;
    
    
}

.card:hover{
    transform: scale(1.1);
    transition: 0.5s; 
}


.card-title{
    font-family: 'Simonetta', cursive;
    font-size: medium;
    
}
.favbtn{
    display: flex;
    align-items: flex-start;
    width: 1rem;
    border: white;

}


.link{
    text-decoration: none;
}

.card{
    width: 15rem;
}

@media (max-width: 480px){
    .card{
        width: 10rem;
        
    }

}