@import url('https://fonts.googleapis.com/css2?family=Simonetta&display=swap');

.nav{   
    justify-content: center;
    width: 100%;

}

.logo{
    width: 5rem;
    object-fit: cover;
    border-radius: 5rem;
}

.logo:hover{
    transform: scale(1.1);
    transition: 0.5s; 
}

.cart{
    display: flex;
    flex-direction: row;
    text-decoration: none;  
       
}

.nav-item{
    font-family: 'Simonetta', cursive;
    font-weight: 200;
    font-size: medium;
    margin-left: 1.5rem;
}

 .cart-number{
    color: rgb(255, 255, 255);
   
 }

   
 #magnifyingGlass[type=text] {
    width: 50%;
    -webkit-transition:  0.4s ease-in-out;
    transition:  0.4s ease-in-out;
    
  }
  
  
  #magnifyingGlass[type=text]:focus {
    width: 90%;
  }

  .input-group{
    height: 2rem;
    margin-left: 2rem;
    margin-top: 0.1rem;
  } 



