@import url('https://fonts.googleapis.com/css2?family=Simonetta&display=swap');

.nav{   
    justify-content: center;
    width: 100%;

}

.logo{
    width: 5rem;
    object-fit: cover;
    border-radius: 5rem;
}

.logo:hover{
    transform: scale(1.1);
    transition: 0.5s; 
}

.seeker{
    padding-top:0.5rem ;
    margin-left: 1rem;
}

.cart{
    display: flex;
    flex-direction: row;
    text-decoration: none;  
       
}

.nav-item{
    font-family: 'Simonetta', cursive;
    font-weight: 200;
    font-size: medium;
    margin-left: 1.5rem;
}

 .cart-number{
    color: rgb(255, 255, 255);
   
 }
   




